html {
  scroll-behavior: smooth;
}

.container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; */

  /* Margin/padding from screen edges */
  padding-left: 20px;
  padding-right: 20px;

  /* Center the container on very large screens */
  max-width: 3400px;
  margin-left: auto;
  margin-right: auto;

  /* Individual items inside the container */
  /* .item {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
} */
}

h1 {
  @apply font-primary;
  font-size: 4em;
  line-height: 0.7;
}

h2 {
  @apply font-primary;
  font-size: 2.5em;
  line-height: 0.7;
}

h3 {
  @apply font-primary;
  font-size: 1.5em;
  line-height: 0.7;
}

p,
.footer-links {
  @apply font-secondary;
  font-size: 1em;
  line-height: 1;
}

/* sm screens */
@media (min-width: 640px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2em;
}

p,
.footer-links {
  font-size: 1.25em;
}
}

/* md screens */
@media (min-width: 768px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* lg screens */
@media (min-width: 1024px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}


/* xl screens */
@media (min-width: 1280px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

