.container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; */

  /* Margin/padding from screen edges */
  padding-left: 20px;
  padding-right: 20px;

  /* Center the container on very large screens */
  max-width: 3400px;
  margin-left: auto;
  margin-right: auto;

  /* Individual items inside the container */
  /* .item {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
} */
}

h1 {
  @apply font-primary;
  font-size: 5em;
}

h2 {
  @apply font-primary;
  font-size: 3.25em;
}

h3 {
  @apply font-primary;
  font-size: 2em;
}

p {
  @apply font-secondary;
  font-size: 1.5em;
}

.header-logo {
  width: 220px;
  height: 60px;
}

/* md screens */
@media (min-width: 768px) { 
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* lg screens */
@media (min-width: 1024px) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}


/* xl screens */
@media (min-width: 1280px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

